.homeContainer{
    padding: 50px 160px;
    
}
.heading{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
color: #2C384A;
}
.update{
    color: #2C384A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    padding: 10px 1px;
}
.update span{
    margin-right: 30px;
    font-size: 14px;
    cursor: pointer;
}
.top{
    float: right;
    cursor: pointer;
}
span i{
    margin-right: 6px;
}

.links {
    margin: 15px 2px;
}
.links ul{
    font-size: 14px;
    list-style: none;
    color: #2C384A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.arrowLinks{
    margin: 15px 2px;

}
.arrowLinks ul{
    font-size: 14px;
    list-style: none;
    color: #2C384A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    display: flex;
}
.arrowLinks ul li{
    margin: 1px 10px;
}


.best{
    

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
background-color: rgb(254, 123, 63);
color: white;
padding: 6px;
margin: 3px;
width: 110px;
margin-top: 30px;
border-radius: 5px;

}





.related{
    display: flex;
    justify-content: space-around;
    margin: 26px 2px;
    align-items: baseline;
}
.signUp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 35px 1px;
}

.text{
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 35px;
width: 45%;
color: #2C384A;
margin: 30px 1px;
}

.signUpBtn{
    background: #1B88F4;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 15px;
    padding: 8px;
    letter-spacing: 1px;
    color: aliceblue;
  font-family:  Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
}

.points{
    background-color: #eae99a;
    padding: 4px;
background: #FFF4ED;
border-radius: 12px;
margin: 5px 1px;
}
.points p{
    margin: 6px 2px;
}
.mainBoxHome{
    display: flex;
    justify-content: space-between;
    height: 300px;
    margin: 20px 1px;
}
.f{
    font-weight: 400;
    font-size: 16px;

}
.f i{
    color: rgb(125, 125, 228);
    margin-right: 10px;
    /* background:rgb(125, 125, 228) ; */
    border-radius: 15px;
}